@import "tailwindcss";

/* â­ Tailwind v4 ko batayein ke system settings ko ignore kare */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}