@import "tailwindcss";

@layer components {
  /* Ye class light mode aur dark mode dono ko handle karegi */
  

  /* Agar aapko sirf light mode ke liye khas rang chahiye */
  .text-dark-only {
    @apply text-slate-900;
  } 
}